
body{
    background-color: #6c6969;
    
}
nav a{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding right: 30px;
   margin-right: 30px; 
   justify-content: space-around;
   color:white;
   
    
}
nav ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding right:30px;
    
    justify-content: space-around;
}
.container{
display: flex;
justify-content: space-between;
}
.about{
    justify-content: space-around;
    margin-bottom: 700px;
    justify-content: center;
    margin-left: 700px;
}